*{
    margin: 0;
    border: 0;
    outline: 0;
    font-family: 'Popins', 'sans-serif';
    box-sizing: border-box;
}
.hero{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(45deg , rgb(124, 10, 152), rgb(3, 9, 123));
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero h1{
    font-weight:700 ;
    font-size: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
    color: white;
}
.hero span{
    color: lightblue;
}

textarea{
    border-radius: 10px;
    background-color: lightgrey;
    opacity: 0.75;
    font-size: 20px;
    padding: 20px;
}
 textarea::placeholder{
    font-size:25px;
    padding-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    width: 600px;
    gap:20px;
    padding-top: 20px;
}
#btn{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    font-size: larger;
    padding: 10px;
    background: rgb(159, 17, 17);
    color: white;
    cursor:pointer;
}
select{
    background:lightgrey;
    color: white;
    height: 40px;
    width:400px;
    opacity: 0.75;
    border-radius: 20px;
    padding:10px;
}